html{
    height: 100%;
    background-image: url(../img/walppaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    height: 100%;
}

header h1{
    margin-top: 3% ;
    background: linear-gradient(rgba(255, 235, 205, 1),rgba(255, 235, 205, 0.611) );
    margin-left: 20%;
    width: 30%;
    text-align: center;
    border: 5px double   rgb(41, 39, 39);
    border-radius: 13px;
    box-shadow: 1px 2px;
}

header h1 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(17, 26, 17, 0.61);
    text-shadow: 2px 1px rgb(102, 96, 96);
}

.mainSection{
    padding: 1%;
    padding-top: 3%;
    overflow: hidden;
}
.horizontalSection{
    overflow: hidden;
    margin-top: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
    
}
.zonaLateral{
    text-align: center;
    width: 25%;
    height: 85%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.637);
    float: right;
    background-color: rgba(255, 235, 205, 0.911);
    margin-left: 1.6%;
    margin-right: 5%;
    border-radius: 13px;
    box-shadow: 1px 2px;
    overflow-y: auto;
}

.frame{
    width: 14.5%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.637);
    float: left;
    background-color: rgba(255, 235, 205, 0.788);
    margin: 1%;
    margin-left: 1.6%;
    border-radius: 13px;
    box-shadow: 1px 2px;
}

.frame_clicked_green{
    transition: ease-in-out 2ms;
    width: 14.5%;
    padding: 1%;
    border: 2px solid black;
    float: left;
    background-color: rgba(250, 250, 210, 0.808);
    margin: 1%;
    margin-left: 1.6%;
    border-radius: 13px;
}
.frame_clicked_red{
    transition: ease-in-out 2ms;
    width: 14.5%;
    padding: 1%;
    border: 2px solid black;
    float: left;
    background-color: rgba(250, 210, 210, 0.808);
    margin: 1%;
    margin-left: 1.6%;
    border-radius: 13px;
}

.frame img, .frame_clicked_green img, .frame_clicked_red img{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: 2px black solid;

}
.frame img:hover, .frame_clicked_green img:hover, .frame_clicked_red img:hover{
    border: 2px green solid;
    transform: scale(1.1, 1.1);
    
}

.frame p, .frame_clicked_green p, .frame_clicked_red p{
    text-align: center;
    padding: 0%;
}

.invisiblePrice_moved{
    clear: both;
    opacity: 1;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    border: 1.5px solid rgba(17, 26, 17, 0.61);
    background-color: rgba(255, 255, 255, 0.616);
    width: 80%;
    padding: 1%;
    font-size:small;;
    text-align: center;
    transition: 0.5s;
}
.inputTextKG{   
   margin-left: 15%;
   transition: 0.5s;
   text-align: center;
}
.frame span{
    font-size: smaller;
    opacity: 0;
    transition: 0.2s;
}
span.show{
    opacity: 1;
    transition: 0.2s;
}
p.hide{
    opacity: 0;
}


.horizontalSection textarea{
    width: 70%;
    margin-left: 2%;
    border: 1px solid black;
    text-align: center;  
    border-radius: 13px;  
    box-shadow: 1px 2px;
    overflow-y: auto;     
}

#botonComprar{
    width: 14.5%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.637);
    float: right;
    background-color: rgba(255, 235, 205, 0.788);
    margin: 1%;
    margin-right: 7%;
    margin-top: 6.5%;
    border-radius: 13px; 
    box-shadow: 1px 2px;
    transition: ease-in 0.2s;
}
#botonComprar:hover{
    background-color: rgb(248, 167, 60);

}

/* CLASES FRUTAAAAAAAAAAAAAAAAAS */

.negrita{
    font-weight: bold;
}
.subrayado{
    text-decoration: underline;
}

.idFrutaRepetido{
    border: 2px solid rgba(0, 0, 0, 0.637);
    padding: 2%;
    background-color: rgba(218, 181, 127, 0.588);
    background-image: url(../img/flecha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 20%;
}

@keyframes crecerDisminuir {
    from {background-size: 16%;}
    to {background-size: 18%;}
  }

.ultimaFrutaAdded{
    border: 6px solid rgba(0, 0, 0, 0.637);
    padding: 2%;
    background-color: rgba(218, 181, 127, 0.588);
    background-image: url(../img/flecha.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    animation-name: crecerDisminuir;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}