html{
    background-image: url(../img/walppaper.jpeg);
    background-repeat: no-repeat;
background-size: cover;

}

header h1{
    
    margin-top: 3% ;
    background-color: cornsilk;
    margin-left: 35%;
    width: 30%;
    text-align: center;
    border: 5px double   black;
    
}

.mainSection{
    padding: 1%;
    padding-top: 5%;
    overflow: hidden;
}

.horizontalSection{
    overflow: hidden;
    margin-top: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.frame{
    width: 14.5%;
    padding: 1%;
    border: 2px solid black;
    float: left;
    background-color: blanchedalmond;
    margin: 1%;
    margin-left: 1.6%;
    border-radius: 15px 50px;
}

.frame img{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    
    border: 2px black solid;

}
.frame img:hover{
    border: 2px green solid;
}

.frame p{
    text-align: center;
    padding: 0%;
}

.horizontalSection textarea{
    width: 38%;
    margin-left: 20%;
    border: 1px solid black;
    text-align: center;    

      
      
}

#botonComprar{
    width: 10%;
    margin-right: 18%;
    margin-top: 7.5%;
    float: right;
    border: 1px solid black;
    background-color: lightblue;
}

#botonComprar:hover{
    background-color: lightseagreen;

}