html{
    height: 100%;
    background-image: url(../img/walppaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    height: 100%;
}

header h1{
    
    margin-top: 3% ;
    background-color: cornsilk;
    margin-left: 20%;
    width: 30%;
    text-align: center;
    border: 5px double   black;
    border-radius: 13px;
}

.mainSection{
    padding: 1%;
    padding-top: 3%;
    overflow: hidden;
}

.horizontalSection{
    overflow: hidden;
    margin-top: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
    
}


.zonaLateral{
    width: 25%;
    height: 85%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.637);
    float: right;
    background-color: rgba(255, 235, 205, 0.911);
    margin-left: 1.6%;
    margin-right: 5%;
    border-radius: 13px;
}

.frame{
    width: 14.5%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.637);
    float: left;
    background-color: rgba(255, 235, 205, 0.788);
    margin: 1%;
    margin-left: 1.6%;
    border-radius: 13px;
    
}

.frame_clicked{
    transition: ease-in-out 2ms;
    width: 14.5%;
    padding: 1%;
    border: 2px solid black;
    float: left;
    background-color: rgba(250, 250, 210, 0.808);
    margin: 1%;
    margin-left: 1.6%;
    border-radius: 13px;
}

.frame img, .frame_clicked img{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: 2px black solid;

}
.frame img:hover, .frame_clicked img:hover{
    border: 2px green solid;
    transform: scale(1.1, 1.1);
}

.frame p, .frame_clicked p{
    text-align: center;
    padding: 0%;
}
.invisiblePrice{
    clear: both;
    visibility: none;
    opacity: 0;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    border: 1.5px solid rgba(17, 26, 17, 0.61);
    background-color: rgba(231, 203, 160, 0.616);
    width: 80%;
    padding: 2%;
    font-size:small;;
    text-align: center;
    transition: 0.5s;
    float: left;
}
.invisiblePrice_moved{
    clear: both;
    opacity: 1;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    border: 1.5px solid rgba(17, 26, 17, 0.61);
    background-color: rgba(255, 255, 255, 0.616);
    width: 80%;
    padding: 1%;
    font-size:small;;
    text-align: center;
    transition: 0.5s;
}

.inputTextKG{   
   margin-left: 18%;
   transition: 0.5s;
   text-align: center;
}




.horizontalSection textarea{
    width: 70%;
    margin-left: 2%;
    border: 1px solid black;
    text-align: center;  
    border-radius: 13px;  

      
      
}

#botonComprar{
    width: 14.5%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.637);
    float: right;
    background-color: rgba(255, 235, 205, 0.788);
    margin: 1%;
    margin-right: 7%;
    margin-top: 6.5%;
    border-radius: 13px; 
}

#botonComprar:hover{
    background-color: rgb(248, 167, 60);

}